<!DOCTYPE html>
<html>
    <%= stylesheet_link_tag "application"%>
<head>
  <title><%= @provider.name %></title>
</head>
<body>
<h2><%= @provider.name %>(<%= @provider.id %>):</h2>
    <div>
      <strong>Used by:</strong>
      <%= !@provider.receiver ? "None" : @provider.receiver.name %>
    </div>

    <h3>Settings:</h3>
    <div  style="width: 50%">
        <table class="table table-hover">
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>

          <% @provider.provider_config.each do |config| %>
             <tr>
               <td><%= config.key %></td>
               <td><%= config.value %></td>
             </tr>
          <% end %>

        </table>
    </div>
</body>
</html>

