<!DOCTYPE html>
<html>
<head>
  <title>Providers list</title>
</head>
<body>
<div  style="width: 50%">
    <table class="table table-hover">
      <tr>
        <th>Id</th>
        <th>Device</th>
        <th>Class</th>
        <th></th>
      </tr>

      <% @providers.each do |provider| %>
          <tr>
            <td><%= provider.id %></td>
            <td><%= provider.name %></td>
            <td><%= provider.class.name %></td>
            <td><%= link_to("details", :action => "edit", :id => provider.id) %></td>
          </tr>
      <% end %>
    </table>
</div>
<br>
<%= form_tag("/providers/new", :method => "get") do %>
    <%= select(:provider, :type, @provider_list) %>
    <%= text_field(:provider, :name) %>
    <%= submit_tag("Add provider") %>
<% end %>

</body>
</html>