<!DOCTYPE html>
<html>
    <%= stylesheet_link_tag "application"%>
<head>
  <title></title>
</head>
<body>
    <div>Device list:</div>
    <div  style="width: 50%">
        <table class="table table-hover">
          <tr>
            <th></th>
            <th>Id</th>
            <th>Device</th>
            <th>Class</th>
            <th></th>
          </tr>

          <% @devices.each do |device| %>
              <tr>
                <td><%= image_tag url_for(:controller => "devices", :action => "image", :id => device.id) %></td>
                <td><%= device.id %></td>
                <td><%= device.name %></td>
                <td><%= device.class.name %></td>
                <td><%= link_to("details", :action => "edit", :id => device.id) %></td>
              </tr>
          <% end %>
        </table>
    </div>
    <br>
    <%= form_tag("/devices/new", :method => "get") do %>
    <%= select(:device, :type, @devices_list) %>
    <%= text_field(:device, :name) %>
    <%= submit_tag("Add device") %>
    <% end %>

</body>
</html>