<!DOCTYPE html>
<html>
<head>
  <title>Reports list</title>
</head>
<body>
<div  style="width: 80%">
  <table class="table table-hover">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Source</th>
      <th>Type</th>
      <th>Address</th>
      <th>Subject</th>
      <th></th>
    </tr>

    <% @reports.each do |report| %>
        <tr>
          <td><%= report.id %></td>
          <td><%= report.name %></td>
          <td><%= report.sources %></td>
          <td><%= report.message_template == nil ? "None" : report.message_template.type %></td>
          <% if(current_user.email!=User.guest_user) %>
            <td><%= report.message_template == nil ? "None" : report.message_template.address %></td>
          <% else %>
            <td>Not allowed for guests.</td>
          <% end %>
          <td><%= report.message_template == nil ? "None" : report.message_template.subject %></td>
          <td><%= link_to("details", :action => "edit", :id => report.id) %></td>
        </tr>
    <% end %>
  </table>
</div>

</body>
</html>